= link_to "collabfield", root_path, class: "navbar-brand"
%button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbar-collapsible-content", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar-collapsible-content", "data-toggle" => "collapse", :type => "button"}
  %span.navbar-toggler-icon
